@import '@servicenow/sass-kit/host';

#front {
    float: left;
    margin-top: 1%;
    position: relative;
    width: 15%;
    height: 22%;
    border: 2px solid black;
    //box-shadow: 10px 10px 5px grey;
    margin: 10px;
}

#head {
    position:absolute;
    top:4%;
    left:8.1%;
}

#neck{
    position:absolute;
    top: 13.3%;
    left: 8.1%;
}

#chest{
    position:absolute;
    top: 19%;
    left: 8.1%;
}

#waist{
    position:absolute;
    top: 30%;
    left: 8.1%;
}

#left_arm{
    position:absolute;
    top:30%;
    left:4.2%;
}

#right_arm{
    position:absolute;
    top:30%;
    left:12.2%;
}

#left_hand{
    position:absolute;
    top:37%;
    left:3%;
    
}

#right_hand{
    position:absolute;
    top:37%;
    left:13.3%;
    
}

#left_thigh{
    position:absolute;
    top:45%;
    left:6.0%;
}

#right_thigh{
    position:absolute;
    top:45%;
    left:10.0%;
}

#left_knee{
    position:absolute;
    bottom:45%;
    left:6%;
}

#right_knee{
    position:absolute;
    bottom:45%;
    left:10.2%;
}

#left_leg{
    position:absolute;
    bottom: 38%;
    left:5.5%;
}

#right_leg{
    position:absolute;
    bottom: 38%;
    left: 10.6%;
}

#left_foot{
    position: absolute;
    bottom: 25%;
    left: 5.8%;
}

#right_foot{
    position: absolute;
    bottom: 25%;
    left: 10.5%;
}

now-input{
    margin:10px;
}

now-select{
    margin: 10px;
}

now-textarea{
    margin: 10px;
    margin-right: 250px;
}

now-checkbox{
    margin: 10px;
}

#header{
    margin: 10px 10px 10px 13px;
    font-weight: 700;
    font-size: 1.5rem;
    
}

#sub_header{
    margin: 10px 10px 10px 13px;
    font-size: 1rem;
    color: RGBA(var(--now-color--neutral-7,135,147,148));
}

now-button{
    margin: 10px;
    float: right;
}


article{
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    width:35%;
    height:47%;
    border: 1px  solid black;
    box-shadow: 10px 10px 5px grey;
    padding: 8px;
}